@model IEnumerable<Novella.ViewModels.ProductHomeVM>

<main id="home-main">
    @* <div class="home-slider">
        <img id="slider-img" src="~/Images/categories/pendant/novella_mockfeature_img.webp" alt="feature image"></img>
        <div class="dot-icon-container">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3" />
            </svg>
        </div>
    </div> *@
    <div id="slider">
        <div class="slides">
            <img class="slider-img" src="~/Images/novella_feature.webp" width="100%"/>
        </div>

        <div class="slides">
            <img class="slider-img" src="~/Images/categories/pendant/novella_mockfeature_img.webp" width="100%"/>
        </div>
        <div id="dot"><span class="dot"></span><span class="dot"></span></div>
    </div>
    <section class="bestseller">
        <h3>Explore Our Best Sellers</h3>
        <div class="bestseller-container">
            @{
                int counter = 0;
            }
            @foreach (var item in Model)
            {
                if (counter < 3)
                {
                    <div class="bestseller-item">
                        <a href="@Url.Action("Detail", "Home", new { productName = item.ProductName, price =item.Price, item.Description })">
                            <img id="best-seller-1" src="~/Images/categories/pendant/novella_bestseller1.jpeg" height="50%" />
                            <p class="bestseller-title">@item.ProductName</p>
                        </a>
                        <div class="rating-container">

                            <div class="rating-icons">
                                <!-- Your rating icons -->
                            </div>

                            @if (item.Review != null && item.Review.Count > 0)
                            {
                                <p class="rating-description">@item.Review[0]</p>
                            }
                            else
                            {
                                <p class="rating-description">No reviews available</p>
                            }
                        </div>
                    </div>
                    counter++;
                }
                else
                {
                    break; // Exit the loop once three products are displayed
                }
            }

        </div>
    </section>
</main>



<script>
    var index = 0;
    var slides = document.querySelectorAll(".slides");
    var dot = document.querySelectorAll(".dot");

    function changeSlide() {

        if (index < 0) {
            index = slides.length - 1;
        }

        if (index > slides.length - 1) {
            index = 0;
        }

        for (let i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
            dot[i].classList.remove("active");
        }

        slides[index].style.display = "block";
        dot[index].classList.add("active");

        index++;

        setTimeout(changeSlide, 5000);

    }

    changeSlide();
</script>