@model IEnumerable<Novella.ViewModels.ProductCategoryVM>

<main id="pendant-main">
    <div class="page-path">
        <p id="current-path"></p>
    </div>
    <div class="filter-container">
        <p class="filter-label">Filter by:</p>
        <div class="select-container">
            <select class="label-sm" id="productColor">
                <option value="#">Color</option>
                <option value="silver">Silver</option>
                <option value="gold">Gold</option>
            </select>
        </div>
        <div class="select-container">
            <select id="productMaterial">
                <option value="#">Material</option>
                <option value="silver">Silver</option>
                <option value="gold">Gold</option>
            </select>
        </div>
        <div class="select-container">
            <select class="label-sm" id="productPrice">
                <option value="#">Price</option>
                <option value="low"> < $100</option>
                <option value="medium"> < $300</option>
                <option value="high">Premium</option>
            </select>
        </div>
    </div>

    <div id="slider">
        <div class="slides">
            <img class="slider-img" src="~/Images/novella_feature.webp" width="100%" />
        </div>

        <div class="slides">
            <img class="slider-img" src="~/Images/categories/pendant/novella_mockfeature_img.webp" width="100%" />
        </div>
        <div id="dot"><span class="dot"></span><span class="dot"></span></div>
    </div>
    <div class="product-cat-flex">
        <div class="product-cat-container">
            @foreach(var item in Model){
            <div class="product-card">
                    <a href="@Url.Action("Detail", "Home", new { productName =  item.ProductName, price = item.Price, description = item.Description})">
                    <img src="~/Images/categories/pendant/pendant1.jpeg" alt="pendant1" />
                    <p class="card-title">@item.ProductName</p>
                    </a>
                            <div class="rating-icons-cat">
                               
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                        <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                        <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                        <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                        <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z" />
                                    </svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                        <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z" />
                                    </svg>
                                    @* svgs *@
                                </div>
                        
                    <p class="card-price">$@item.Price</p>
               
            </div>
            }
         
        </div>
    </div>
    
</main>

<script>
    var index = 0;
    var slides = document.querySelectorAll(".slides");
    var dot = document.querySelectorAll(".dot");

    function changeSlide() {

        if (index < 0) {
            index = slides.length - 1;
        }

        if (index > slides.length - 1) {
            index = 0;
        }

        for (let i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
            dot[i].classList.remove("active");
        }

        slides[index].style.display = "block";
        dot[index].classList.add("active");

        index++;

        setTimeout(changeSlide, 5000);

    }

    changeSlide();
</script>

<script>
    function updatePagePath() {
        var currentUrl = location.pathname; // Get the current URL
        var currentPage = currentUrl.substring(1);
        // Extract the current page name
        document.getElementById("current-path").textContent = currentPage; // Update the current path element
    }

    window.onload = function () {
        updatePagePath(); // Update page path on page load
    };
</script>