@model IEnumerable<Novella.ViewModels.ProductHomeVM>

<main id="search-results-main">
    <div class="page-path">
        <p id="current-path">Search Results</p>
    </div>

    <div class="product-search-flex">
        <div class="product-search-container">
            @foreach (var item in Model)
            {
                <div class="search-product-card">
                  
                    <div class="card-image-container">
                        <img src="@item.ImageUrl" alt="@item.ProductName"></img>
                    </div>
                    <div class="search-card-content">
                        <p class="search-card-title">@item.ProductName</p>
                        <p class="search-card-description">@item.Description</p>
                        <p class="search-card-price">$@item.Price</p>
                    </div>              
                </div>
            }
        </div>
    </div>
</main>



