@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

footer{
    position: relative;
}



/*nav*/
#nav-logo{
    width: 50px;
    height: auto;
    margin: 0px 20px;
   
}

.navbar{
    display:flex;
    flex-direction:column;
    width: 100vw;

}

a .navbar-brand{
    margin: 0px;
}

#shared-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

}

.navlink-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-link {
    margin: 20px;
    color: rgba(98, 174, 233, 1);
    font-weight: bold;
    text-align: center;
}


.searchbar{
    display:flex;
    align-items: center;
    padding: 10px;
    border: none;
    margin: 0px 10px;
}

#search-input{
    border:none;
    width: 50px;
}


#search-button{
    border:none;
    background-color: white;

}

#search-button > svg {
    color: darkgrey;
}

.cart-icon-container {
    color: rgba(98, 174, 233, 1);
    margin: 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#nav-cart-amount{
    margin: 0px 10px;
    font-weight: bold;
}

.content-container{
    min-height:60vh;
}


.nav-item{
    display: flex;
    justify-content: center;
}

#current-path {
    font-size: 16px;
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    padding:20px
}

 
/* Cart */

.page-path-cart{
    color: grey;
}
#empty-cart {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
}

#cart-with-products {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.total-price-display {
    font-weight: bold;

}

.cart-container {
    display: flex;
    margin: auto auto;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
}

.shopping-bag {
    width: 70%;
    padding: 3rem;
    border-right: 2px solid #f0f0f0;
    background-color: white;
}

.item {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Increased shadow size and opacity for a darker appearance */
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #f0f0f0;
    background: white;
    border-radius: 20px;
}

    .item img {
        width: 200px;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
    }

.item-details {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    padding-left: 20px; /* to ensure it doesn't touch the image */
}

    .item-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    
    }

    .name {
        font-size: 1.8rem;
        padding-bottom: 20px;
        font-weight: 500;
        font-family: "Montserrat", sans-serif;
    }

    .description {
        font-family: "Montserrat", sans-serif;
        padding-bottom: 20px;
        font-weight: 450;
        font-size: 14px;
    }

    .size {
        font-family: "Montserrat", sans-serif;
        padding-bottom: 10px;
        font-size: 14px;
        font-weight: 550;
    }

    .Color {
        font-family: "Montserrat", sans-serif;
        padding-bottom: 10px;
        font-size: 14px;
        font-weight: 550;
    }

    .item-info .name .description {
        font-size: 1.2rem;
        color: #333;
        padding-left: 20px;
    }

    .item-info .quantity {
        display: flex;
        align-items: center;
    }

        .item-info .quantity button {
            background-color: #f0f0f0;
            border: none;
            padding: 5px 10px;
            margin: 0 10px;
            cursor: pointer;
        }

    .item-info .edit,
    .item-info .remove {
        text-decoration: underline;
        color: #258cfb;
        cursor: pointer;
    }

.item-price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

    .item-price .price {
        padding-top: 10px;
        font-size: 1.1rem;
        font-weight: 550;
        font-family: "Montserrat", sans-serif;
    }




    .item-details .quantity {
        display: flex;
        align-items: center;
        font-family: "Montserrat", sans-serif;
        padding-bottom: 10px;
    }

        .item-details .quantity button {
            background-color: #f0f0f0;
            border: none;
            padding: 5px 10px;
            margin: 0 10px;
            cursor: pointer;
        }

    .item-details .edit,
    .item-details .remove {
        text-decoration: underline;
        color: #258cfb;
        margin-left: 20px;
        cursor: pointer;
    }



.edit-delete .edit, .edit-delete .remove {
    text-decoration: none; /* Removes the underline */
    color: black; /* Sets the text color to black */
    font-family: "Montserrat", sans-serif;
    font-weight: 550;
}



.edit-delete {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 10px; /* Add some space between the quantity and the edit/delete links */
    justify-content: space-between;
    padding-right: 3rem;
    text-decoration: none; /* Removes the underline */
}

.editIcon{
    max-width: 30px; /* Adjust the max-width as necessary */
    max-height: 30px; /* Adjust the max-height as necessary */
    margin-right: 5px;
    text-decoration: none; /* Removes the underline */
}

.removeIcon{
    max-width: 25px; /* Adjust the max-width as necessary */
    max-height: 25px; /* Adjust the max-height as necessary */
    margin-right: 5px;
    text-decoration: none; /* Removes the underline */
}

.edit-delete button {
    display: flex;
    align-items: center;
    padding: 10px 10px; /* Adjust padding as necessary */
    margin-bottom: 10px; /* Adds space between the buttons */
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none; /* Removes the underline */
}

.edit-delete a, .edit-delete button {
    text-decoration: none; /* Removes the underline */
    color: black; /* Sets the text color to black */
}



.summary {
    width: 30%;
    padding: 20px;
    background: #f9f9f9;
    font-family: "Montserrat", sans-serif;
}

    .summary h2 {
        color: #333;
        margin-bottom: 20px;
    }

    .summary .subtotal,
    .summary .shipping,
    .summary .tax,
    .summary .total {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        padding:10px;
    }

        .summary .subtotal span,
        .summary .shipping span,
        .summary .tax span,
        .summary .total span {
            color: #555;
        }

    .summary .total {
        border-top: 1px solid #adadad;
        padding: 10px;
        font-size: 1.2rem;
        color: #333;
        margin-top: 20px;
        font-weight: bold;
    }

    .summary .checkout-btn {
        display: block;
        width: 100%;
        background-color: rgba(98, 174, 233, 1); 
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        margin-top: 30px;
        cursor: pointer;
        text-transform: uppercase;
    }

        .summary .checkout-btn:hover {
            background-color: #1a6fb0;
        }


.promo-code-toggle {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    padding: 10px;
    text-align: left;
    width: 100%;
    font-size: 16px;
}

    .promo-code-toggle span {
        float: right;
    }

.promo-input, .btn-apply {
    margin-top: 10px;
}

.promo-input {
    padding: 10px;
    width: calc(100% - 84px);
    display: inline-block;
}

.btn-apply {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    display: inline-block;
}

    .btn-apply:hover {
        background-color: #0056b3;
    }


/* Checkout */

.number-circle {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-right: 0.5rem;
}

.number {
    line-height: 1.5rem;
}

.cart-step {
    display: flex;
}

/*footer*/
#logo-footer {
    width: 50px;
    height: auto;
}

#footer-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    position: relative;
    height: auto;
}

.care-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.mission {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0;
    padding: 30px;
    color: darkgrey;
}

.mission-header{
    font-weight: bold;
    font-size: 12px;
    line-height: 0;
    margin-bottom: 30px;
}

.mission-text{
    width: 150px;
    height: auto;
    font-size: 12px;
    line-height: 0;
    text-align: center;

}

.customercare-header {
    line-height: 0;
    font-weight: bold;
    color: darkgrey;
    margin: 10px;
    margin-bottom: 30px;
}

.customer-care{
    font-size: 12px;
    line-height: 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-content: center;
    padding: 30px;
}

.care-item{
    margin: 10px 0px;
    color: darkgrey;
    display: flex;
    justify-content: left;
    align-items: center;
}

.care-item > p{
    padding-top: 15px;
}

.care-item > svg {
    margin: 10px;
}

/*homepage*/
#home-main{
    display: flex;
    flex-direction: column;
    height: auto;
    padding:0;
    margin: 0;
}

.bestseller{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.rating-description > svg {
    margin-bottom: 5px;
    margin-right: 5px;
}

#best-seller-1,
#best-seller-2,
#best-seller-3{
    max-width: 250px;
    height: auto;
    border-radius: 10px;

}

.bestseller-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

@media (min-width: 770px) {
    .bestseller-container {
        flex-direction: row;
        justify-content: space-around;
    }
}

.bestseller-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 250px;
    max-height: 600px;
    margin: 1rem;
}

.bestseller > h3{
    text-align: center;
}

.bestseller-title{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    margin-top: 15px;
}

.bestseller-title:hover {   
    color: rgba(98, 174, 233, 1);
}

.rating-container {
    display: flex;
    justify-content: center;
}

.rating-icons {
    display: flex;
    justify-content: center;
    max-width: 100%;
    padding: 20px 10px;
    color: rgba(98, 174, 233, 1);
}

.rating-description{
    padding: 20px;
    text-align: center;
    
}

.home-slider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#slider-img{
    width: 100%;
    height: auto;
}

.dot-icon-container {
    display: flex;
    justify-content: center;
    
    color: rgba(98, 174, 233, 1);
}

/*product detail*/
#plus, #minus {
    color: rgba(98, 174, 233, 1);
    font-weight: bolder;
    margin: 0px 10px;
    font-size: 16px;
}

#continue-shopping{
    font-size: 12px;
    margin: 10px;
}

#detail-main{
    display: flex;
    flex-direction: column;
  
}

.detail-container{
    display: flex;
    justify-content: center;
    margin-top: 0px;

}

#detail-title{
    font-size: 25px;
    font-weight: bold;

}

#detail-subtitle{
    max-width:280px;
}

#detail-text{
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-left: 50px;
}
.qty-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#detail-length, #detail-qty, #detail-rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#detail-add-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    background-color: rgba(98, 174, 233, 1);
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 2rem 0;
    
}

.detail-line{
    height: 1px;
    width: 100%;
    margin: 20px 0px;
    border-top: solid 1px grey;
}

#detail-img{
    border-radius: 10px;
    margin: 20px 10px;
    max-width: 500px;
    height: auto;
}

#detail-qty{
    margin-top: 30px;
}

.page-item.active .page-link {
    background-color: rgba(98, 174, 233, 1);
    border-color: rgba(98, 174, 233, 1);
    color: white;
}

.page-item.active:first-child {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.page-item.active:last-child {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.page-link {
    color: rgba(98, 174, 233, 1);
}

/*pendant - product card*/
#pendant-main {

    
}

.product-card > a > img {
    height: 300px;
    width: 280px;
    border-radius: 5px;
}

.page-path{
    color: grey;
    font-size: 12px;
}
.filter-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;

}

.filter-label{
    color: grey;
    font-size: 12px;
    margin-right: 15px; 
    display: flex;
    align-content: center;

}

select {
    width: 100px;
    display: flex;
    justify-content: left;
    border: none;
    margin-right: 50px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgba(98, 174, 233, 1)" class="bi bi-caret-down-fill" viewBox="0 0 16 16"><path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>') 96% / 10% no-repeat;
}

.label-sm {
    width: 75px;
    display: flex;
    justify-content: left;
    border: none;
    margin-right: 50px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgba(98, 174, 233, 1)" class="bi bi-caret-down-fill" viewBox="0 0 16 16"><path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>') 96% / 10% no-repeat;
}


.select-container {
    border: none;
   
}




/*slider*/
.slider-img{
    max-width: 100%; 
    max-height: 500px;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

body {
    background: #eeeeee;
}

#slider {
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
 
}

.slides {
    overflow: hidden;
    animation-name: fade;
    animation-duration: 1s;
    display: none;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
/*
@media (min-width: 575px) {
    .slides {
        width: 550px;
        height: 550px;
    }
}*/

img {
    width: 100%;
}

#dot {
    margin: 0 auto;
    text-align: center;
}

.dot {
    display: inline-block;
    border-radius: 50%;
    background: #d3d3d3;
    padding: 8px;
    margin: 10px 5px;
}

.active {
    background: rgba(98, 174, 233, 1);
    
}

@media (max-width:575px) {
    #slider {
        width: 100%;
    }
}

#heading {
    display: block;
    text-align: center;
    font-size: 2em;
    margin: 10px 0px;
}

.form-input {
    border: none;
    height: calc(3.5rem + 2px);
    line-height: 1.25rem;
    padding: 1rem 0.75rem;
    width: 100%;
    border-bottom: 2px solid rgba(98, 174, 233, 1);
    background-color: #eeeeee;
}

.custom-button {
    background-color: rgba(98, 174, 233, 1);
    border-color: rgba(98, 174, 233, 1);
    border-radius: 0.3rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    width: 100% !important;
}

#login-page {
    justify-content: space-around;
}

.dashboard-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
}

#dashboard-title {
    color: #0056b3;
    margin-bottom: 30px;
}

.actions {
    margin-bottom: 20px;
}

/* Button Styles */
.btn {
    display: inline-block;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.btn-create {
    background-color: #28a745;
    color: white;
}

.btn-edit, .btn-details {
    background-color: #007bff;
    color: white;
}

.btn-delete {
    background-color: #dc3545;
    color: white;
}

.btn:hover {
    opacity: 0.8;
}

/* Table Styles */
.styled-table {
    width: 100%;
    border-collapse: collapse;
}

    .styled-table thead th {
        background-color: #0056b3;
        color: #ffffff;
        padding: 10px;
        text-align: left;
    }

    .styled-table tbody td {
        padding: 10px;
        border-bottom: 1px solid #dddddd;
    }

    .styled-table tbody tr:nth-child(even) {
        background-color: #f3f3f3;
    }

.table-responsive {
    overflow-x: auto;
}


/* General Styles for User Role Assignment Form */
.user-role-assignment h4 {
    color: #333;
    margin-bottom: 20px;
}

.user-role-assignment hr {
    border-top: 1px solid #eee;
    margin-bottom: 20px;
}

/* Form Specific Styles */
.user-role-assignment .user-role-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-role-assignment .form-group {
    margin-bottom: 15px;
}

.user-role-assignment .form-control {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
}

    .user-role-assignment .form-control:focus {
        border-color: #80bdff;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

.user-role-assignment .btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

    .user-role-assignment .btn-primary:hover {
        background-color: #0056b3;
        border-color: #004085;
    }

.user-role-assignment .text-danger {
    color: #dc3545;
}

/* User Detail Header Styles */
.user-detail-header {
    color: #333;
    margin-bottom: 20px;
}

/* Assign Roles Link Button Styles */
.assign-roles-link .btn-primary {
    padding: 0.375rem 0.75rem;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    text-decoration: none;
    border-radius: 0.25rem;
}

    .assign-roles-link .btn-primary:hover {
        background-color: #0056b3;
        border-color: #004085;
    }

/* User Roles Table Styles */
.user-roles-table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

    .user-roles-table th,
    .user-roles-table td {
        text-align: left;
        padding: 8px;
        border-bottom: 1px solid #ddd;
    }

/* Role Delete Button Styles */
.role-delete-btn {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

    .role-delete-btn:hover {
        background-color: #c82333;
        border-color: #bd2130;
    }

/* user-roles.css */
.user-roles-header {
    background-color: #007bff;
    color: #fff;
}

.user-roles-table {
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.user-roles-create-btn {
    background-color: #28a745;
    border-color: #28a745;
    color: white;
}

    .user-roles-create-btn:hover {
        background-color: #218838;
        border-color: #1e7e34;
    }

.user-roles-action-link {
    margin-right: 10px;
}

.user-roles-view-btn {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
}

    .user-roles-view-btn:hover {
        background-color: #0069d9;
        border-color: #0062cc;
    }

/* "Create New" Link Styles */
.create-new-link .create-link {
    display: inline-block;
    padding: 8px 15px;
    color: #ffffff;
    background-color: #007bff; /* Adjusted to a more standard blue */
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.2s;
}

    .create-new-link .create-link:hover {
        background-color: #0056b3;
    }

/* Custom Alert Box Styles */
.custom-alert {
    padding: 10px;
    border: 1px solid #bee5eb;
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: #d1ecf1;
    color: #0c5460;
}

/* "Delete" Link Styles to Mimic Button Appearance */
.delete-role-link {
    padding: 5px 10px;
    color: #f8f9fa !important;
    background-color: #dc3545; /* Red for a cautionary action */
    border-radius: 4px;
    text-decoration: none;
}

    .delete-role-link:hover {
        background-color: #c82333;
    }

/* Form Header Styles */
.form-header {
    margin-bottom: 20px;
    color: #333;
}

/* Role Creation Form Styles */
.role-creation-form .form-group {
    margin-bottom: 1rem;
}

.role-creation-form .role-name-input {
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
}

.role-creation-form .submit-role-btn {
    width: 100%;
    background-color: #007bff;
    border-color: #007bff;
}

    .role-creation-form .submit-role-btn:hover {
        background-color: #0056b3;
        border-color: #004095;
    }

/* Back to List Link Styles */
.back-to-list-link a {
    display: inline-block;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
}

    .back-to-list-link a:hover {
        color: #0056b3;
        text-decoration: underline;
    }

.product-search-container, .product-cat-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    gap: 20px; 
}

.search-product-card {
    border: none; 
   
    overflow: hidden; 
   height: 550px;
   display:flex;
   flex-direction: column;
   justify-content: space-between;
}

.card-image-container {
    width: 100%;
    height: 350px;
    overflow: hidden; 
}

    .card-image-container > img {
        height: 100%;
        border-radius: 5px;
    }

    .card-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.search-card-content {
    padding: 10px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.search-card-title, .card-title {
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}


 /*   .card-title:hover {
        color: rgba(98, 174, 233, 1);
    }*/

.search-card-description {
   height: 100px;
  
}


.search-card-price, .card-price {
    font-weight: bold;
    color: rgba(98, 174, 233, 1);
}

#nav-right-container, #sub-nav-1, #sub-nav-2{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#nav-right-container{
    justify-content: space-between;
}

.partial-flex{
    display: flex;
    flex-direction: row;
}

.container-fluid{
    display: flex;
    flex-direction: column;
}



@media screen and (min-height: 768px) {
    .container-fluid {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .bestseller-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    #search-input {
       
        width: 100px;
    }

    .dashboard-container {
        padding: 10px;
    }

    .btn {
        padding: 6px 10px;
        font-size: 0.9rem;
    }

    .styled-table thead th, .styled-table tbody td {
        padding: 8px;
    }
   

}


.product-actions-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
}

@media screen and (min-height: 1024px) {
    .nav-link{
        margin-left: 50px;
    }


}

